* {
    margin: 0;
    padding: 0;
}

.main {
    margin: 5% auto;
    width: 70%;
    border: 4px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
}

.info {
    border: 1px solid red;
}

.ownPhoto {
	display: block;
    height: 120%;
    width: 40%;
    margin: 5% auto 2% auto;
}

h1 {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}

.name {
	margin-bottom: 0%;
}

table {
	margin: auto;
}

td {
	border: 1px solid red;
	font-size: 1.3em;
}

.eduList {
	margin-left: 17%;
	font-size: 1.3em;
	list-style: none;
}

.eduList > li::before {
	content: "•"; 
	color: blue;
	margin-right: 2%;
	font-size: 1.2em;
}

.eduListNested {
	margin-left: 7%;
}

.softList {
	margin-left: 7%;
	font-size: 1.3em;
	list-style: none;
}

.softList > li::before {
	content: "•"; 
	color: blue;
	margin-right: 2%;
	font-size: 1.2em;
}
