* {
    margin: 0;
    padding: 0;
}

.main {
    margin: 5% auto;
    width: 80%;
    border: 4px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
}

.info {
    height: 100px;
    border: 1px solid red;
}

.ownPhoto {
    height: 150px;
    width: 13%;
}